.main {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  margin-top: var(--global-margin-page-top);

  .content {
    max-width: var(--global-max-content-width);
    width: 100%;
  }
}
