p {
  cursor: pointer;
  font-weight: var(--global-font-weight-m);
  font-size: var(--global-font-size-m);
  color: var(--global-color-grey-dark);
  margin: 0px 0px calc(var(--global-padding) / 2) 0px;
  width: fit-content;
  padding: calc(var(--global-padding) / 2) 0px;
  border-radius: var(--global-border-radius);
  transition: all ease 0.2s;

  span {
    margin-right: var(--global-margin);
  }

  &:hover {
    color: white;
    background-color: var(--global-color-primary-dark-main);
    padding: calc(var(--global-padding) / 2) var(--global-padding);
  }
}

h1 {
  font-weight: var(--global-font-weight-m);
  font-size: var(--global-font-size-xl);
  color: var(--global-color-grey-dark);
  margin: 0px 0px var(--global-margin) 0px;

  span {
    font-weight: var(--global-font-weight-xl);
    color: var(--global-color-primary-dark);
  }
}
