:host {
  width: 100%;
  .table {
    width: 100%;
    border-spacing: 2px;
    border-radius: var(--global-border-radius);
    border: 1px solid var(--global-color-grey-light);
    overflow: hidden;
    background-color: white;

    .table-row {
      font-weight: var(--global-font-weight-m);
      font-size: var(--global-font-size-m);
      cursor: pointer;
      color: var(--global-color-grey-dark);
      background-color: white;
      transition: all ease 0.1s;

      &:first-child {
        .table-header {
          &:first-child {
            border-top-left-radius: var(--global-border-radius);
          }

          &:last-child {
            border-top-right-radius: var(--global-border-radius);
          }
        }
      }

      .table-header {
        font-weight: var(--global-font-weight-l);
        font-size: var(--global-font-size-m);
        text-transform: capitalize;
        text-align: left;
        background-color: var(--global-color-primary-dark);
        color: white;
        padding: var(--global-padding);
      }

      .table-item {
        padding: calc(var(--global-padding) / 2) var(--global-padding);
      }

      &:hover {
        color: white;
        background-color: var(--global-color-primary-dark-main);
      }

      &:nth-child(even) {
        background-color: var(--global-color-grey-light);
        &:hover {
          color: white;
          background-color: var(--global-color-primary-dark-main);
        }
      }
    }
  }
}
